<style>
    h2{
        text-align: center;
        color:black;
    }

</style>
<aside>
    <h3>归档</h3>
    <ul>
        <li><a href="">2012年02月</a></li>
        <li><a href="">2012年02月</a></li>
        <li><a href="">2012年02月</a></li>
        <li><a href="">2012年02月</a></li>
        <li><a href="">2012年02月</a></li>
        <li><a href="">2012年02月</a></li>
        <li><a href="">2012年02月</a></li>
    </ul>

    <div class="loginNow">
        立即登录
    </div>
</aside>
<div class="content">
    <h2>{{list.artTit}}</h2>
    <h4>作者:{{list.artAuthor}}&nbsp;&nbsp;&nbsp;&nbsp; 时间:{{list.artDate}}</h4>
    <p><h4>文章描述：{{{list.artDes}}}</h4></p>
    <p><h4>正文：{{{list.artCon}}}</h4></p>
</div>
<script>
    var btn=document.querySelector('.loginNow')
    btn.onclick=function () {
        window.location='/login'
    }
</script>


	    <!--<aside>-->
	    	<!--<h3>归档</h3>-->
	    	<!--<ul>-->
	    		<!--<li><a href="">2012年02月</a></li>-->
	    		<!--<li><a href="">2012年02月</a></li>-->
	    		<!--<li><a href="">2012年02月</a></li>-->
	    		<!--<li><a href="">2012年02月</a></li>-->
				<!--<li><a href="">2012年02月</a></li>-->
				<!--<li><a href="">2012年02月</a></li>-->
    	        <!--<li><a href="">2012年02月</a></li>-->
	    	<!--</ul>-->
	    	<!--<div class="loginNow">-->
	    		<!--立即登录-->
	    	<!--</div>-->
	    <!--</aside>-->
		<!--<div class="content">-->
		    <!--<ul class="artList">-->
				<!--<li>-->
					<!--<a class="img" href="">-->
						<!--<img src="" alt="">-->
					<!--</a>	-->
					<!--<div class="artDetail">-->
						<!--<h4 class="artTit">-->
							<!--习近平带领我们走过的这不平凡五年-->
						<!--</h4>-->
						<!--<span class="des">-->
							<!--2017年7月26日至27日，习近平在省部级主要领导干部“学习习近平总书记重要讲话精神，迎接党的十九大”专题研讨班上发表重要讲话，深刻阐述了新的历史条件下...&nbsp;&nbsp;<a class="mores">[查看全文]</a>-->
						<!--</span>-->
						<!--<div class="aboutArt">-->
							<!--<span>作者：admin</span>&nbsp;&nbsp;-->
							<!--<span>发表时间：2017-10-09</span>&nbsp;&nbsp;-->
							<!--<span>阅读量：200</span>-->
						<!--</div>-->
					<!--</div>																	-->
				<!--</li>-->

				<!--<li>-->
					<!--<a class="img" href="">-->
						<!--<img src="" alt="">-->
					<!--</a>	-->
					<!--<div class="artDetail">-->
						<!--<h4 class="artTit">-->
							<!--习近平带领我们走过的这不平凡五年-->
						<!--</h4>-->
						<!--<span class="des">-->
							<!--2017年7月26日至27日，习近平在省部级主要领导干部“学习习近平总书记重要讲话精神，迎接党的十九大”专题研讨班上发表重要讲话，深刻阐述了新的历史条件下...&nbsp;&nbsp;<a class="mores">[查看全文]</a>-->
						<!--</span>-->
						<!--<div class="aboutArt">-->
							<!--<span>作者：admin</span>&nbsp;&nbsp;-->
							<!--<span>发表时间：2017-10-09</span>&nbsp;&nbsp;-->
							<!--<span>阅读量：200</span>-->
						<!--</div>-->
					<!--</div>																	-->
				<!--</li>-->

				<!--<li>-->
					<!--<a class="img" href="">-->
						<!--<img src="" alt="">-->
					<!--</a>	-->
					<!--<div class="artDetail">-->
						<!--<h4 class="artTit">-->
							<!--习近平带领我们走过的这不平凡五年-->
						<!--</h4>-->
						<!--<span class="des">-->
							<!--2017年7月26日至27日，习近平在省部级主要领导干部“学习习近平总书记重要讲话精神，迎接党的十九大”专题研讨班上发表重要讲话，深刻阐述了新的历史条件下...&nbsp;&nbsp;<a class="mores">[查看全文]</a>-->
						<!--</span>-->
						<!--<div class="aboutArt">-->
							<!--<span>作者：admin</span>&nbsp;&nbsp;-->
							<!--<span>发表时间：2017-10-09</span>&nbsp;&nbsp;-->
							<!--<span>阅读量：200</span>-->
						<!--</div>-->
					<!--</div>																	-->
				<!--</li>-->

				<!--<li>-->
					<!--<a class="img" href="">-->
						<!--<img src="" alt="">-->
					<!--</a>	-->
					<!--<div class="artDetail">-->
						<!--<h4 class="artTit">-->
							<!--习近平带领我们走过的这不平凡五年-->
						<!--</h4>-->
						<!--<span class="des">-->
							<!--2017年7月26日至27日，习近平在省部级主要领导干部“学习习近平总书记重要讲话精神，迎接党的十九大”专题研讨班上发表重要讲话，深刻阐述了新的历史条件下...&nbsp;&nbsp;<a class="mores">[查看全文]</a>-->
						<!--</span>-->
						<!--<div class="aboutArt">-->
							<!--<span>作者：admin</span>&nbsp;&nbsp;-->
							<!--<span>发表时间：2017-10-09</span>&nbsp;&nbsp;-->
							<!--<span>阅读量：200</span>-->
						<!--</div>-->
					<!--</div>																	-->
				<!--</li>-->

				<!--<li>-->
					<!--<a class="img" href="">-->
						<!--<img src="" alt="">-->
					<!--</a>	-->
					<!--<div class="artDetail">-->
						<!--<h4 class="artTit">-->
							<!--习近平带领我们走过的这不平凡五年-->
						<!--</h4>-->
						<!--<span class="des">-->
							<!--2017年7月26日至27日，习近平在省部级主要领导干部“学习习近平总书记重要讲话精神，迎接党的十九大”专题研讨班上发表重要讲话，深刻阐述了新的历史条件下...&nbsp;&nbsp;<a class="mores">[查看全文]</a>-->
						<!--</span>-->
						<!--<div class="aboutArt">-->
							<!--<span>作者：admin</span>&nbsp;&nbsp;-->
							<!--<span>发表时间：2017-10-09</span>&nbsp;&nbsp;-->
							<!--<span>阅读量：200</span>-->
						<!--</div>-->
					<!--</div>																	-->
				<!--</li>																-->
		<!---->
			<!--</ul>	-->
			<!---->
			<!--<div class="page">-->
				<!--<button class="prev">上一页</button>-->
				<!--<ul>-->
					<!--<li>1</li>-->
					<!--<li>2</li>-->
					<!--<li>3</li>-->
					<!--<li class="omit">···</li>-->
					<!--<li>22</li>-->
					<!--<li>23</li>-->
					<!--<li>24</li>-->
				<!--</ul>-->
				<!--<button class="next">下一页</button>-->
				<!--<span>跳转到第</span>-->
				<!--<div class="inp">-->
					<!--<input type="text" placeholder="1">-->
				<!--</div>-->
				<!--<span>页</span>-->
				<!--<button class="loadPage">确定</button>-->
			<!--</div>										-->
		<!--</div>									-->
